.list-item {
    display: flex;
    justify-content: space-between;
    color: #FFFAFA;
    width: 100%;
    background-color: #FFE66D;
    color: #333;
    padding: 15px;
    cursor: pointer;
}

.list-item:hover {
    scale: 1.01;
}